.home-container {
  display: flex;
  flex-direction: column;
}

.home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 16px;

  image {
    height: 24px;
    aspect-ratio: 1;
  }

  text {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
  }
}

.app-light .home-header text {
  color: var(--grayscale-white);
}

.list-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0 16px 16px 16px;

  input {
    flex: 1;
    border-radius: 32px;
    height: 40px;
    padding: 8px 16px;
    background-color: var(--grayscale-white);
    font-size: 12px;
    line-height: 16px;
  }

  .sort-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--grayscale-white);
  }

  .sort-button image {
    width: 24px;
    height: 24px;
  }
}

.pokemon-list {
  flex: 1;
  display: grid;
  gap: 8px;
  list-main-axis-gap: 8px;
  list-cross-axis-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 8px;
  padding: 8px;
}

.app-light .pokemon-list {
  background-color: var(--grayscale-white);
}

.app-dark .pokemon-list {
  background-color: var(--grayscale-dark);
}

.pokemon-item {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;

  image {
    height: 72px;
    aspect-ratio: 1;
  }
}

text.pokemon-item-id {
  font-size: 12px;
  line-height: 16px;
  align-self: flex-end;
  color: var(--grayscale-medium);
}

.pokemon-item-border {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: 8px;
  position: absolute;
}

.app-light .pokemon-item-border {
  border-color: var(--grayscale-background);
}

.app-dark .pokemon-item-border {
  border-color: #242424;
}

.pokemon-item-background {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  border-radius: 8px;
  position: absolute;
}

.app-light .pokemon-item-background {
  background-color: var(--grayscale-background);
}

.app-dark .pokemon-item-background {
  background-color: #242424;
}
